.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    width: 1500px;
    h1{
        font-family: Cormorant Garamond;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2{
            font-family: Cormorant Garamond;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0em;
            text-align: left;
        }
        p{
            font-family: Rubik;
            font-size: 17px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}