.card{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgba(252, 236, 236, 1);
    border: 1px solid rgba(252, 236, 236, 1);
    gap: 10px;
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 326px;
        height: 437px;
        top: 226px;
        left: 12px;
        border: 1px solid white;
        background: rgba(255, 255, 255, 1);
       img{
            width: 228.22px;
            height: 329.89px;
            top: 280px;
            left: 61px;        
            object-fit: cover;
        } 
    }
    .title{
        font-family: Inter;
        font-size: 22px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(57, 50, 128, 1);
    }
    .name{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.02em;
        text-align: center;
        color: rgba(136, 136, 136, 1);
    }
    .price{
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: center;
        color: rgba(237, 85, 59, 1);
    }
    button{
        border: #FFFFFF;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                padding-right: 40px;
            }
        }
    }
}

@media (max-width: 480px) {
    .card {
        max-width: 400px;
        margin: 0 auto;
        padding-right: 20px;
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                padding-right: 60px;
            }
        }
    }
}