// header top
.header__top{
    background: rgba(57, 50, 128, 1);
    width: 100%; /* Занимать всю доступную ширину */
    width: 1520px; /* Максимальная ширина */
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 40px;
    .contacts{
        padding-top: 20px;
        gap: 8px;
        display: flex;
        img{
            width: 15px;
            height: 20px;
            top: 19px;
            left: 62px;
        }
        a{
            color: white;
            font-family: Inter;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-align: left;

        }
    }
    .mesenger{
        gap: 50px;
        display: flex;
        align-items: center;
    }
}



// header
.header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 200px;
    width: 1520px;
    padding-bottom: 30px;
    .header__logo{
        padding-left: 50px;
    }
    .burger-menu{
        display: none;
    }
    .category{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        li{
            padding: 1px 0px;
            position: relative;
            font-family: Inter;
            font-size: 18px;
            font-weight: 800;
            line-height: 22px;
            letter-spacing: 0.12em;
            text-align: left;
            color: black;
            &::after{
                content: '';
                position: absolute;
                height: 18px;
                width: 0.1px;
                background: black;
                right: -15px;
                top: 0;
            }
        }
        .active{    
            color: blue;
        }
    }
    .authc{
        display: flex;
        gap: 20px;
        padding-right: 20px;
    }
    @media (max-width: 768px) {
        .header__logo {
            padding-left: 20px; /* Adjust as needed */
        }
        .category {
            gap: 15px; /* Adjust as needed */
            li{
                padding: 1px 0px;
                position: relative;
                font-family: Inter;
                font-size: 18px;
                font-weight: 800;
                line-height: 22px;
                letter-spacing: 0.12em;
                text-align: left;
                color: black;
                &::after{
                    content: '';
                    position: absolute;
                    height: 18px;
                    width: 0.1px;
                    background: black;
                    right: -6px;
                    top: 0;
                }
            }
        }
        .authc {
            gap: 10px; /* Adjust as needed */
        }
        .burger-menu{
            display: none;
        }
    }
    @media (max-width: 480px) {
        display: flex;
        align-items: center;
        gap: 50px;
        .header__logo {
            padding-left: 200px; /* Adjust as needed */
        }
        .category {
            display: none;
        }
        .authc {
            display: none;
        }
        .burger-menu{
            display: flex;
            padding-right: 200px;
        }
    }
}


@media only screen and (max-width: 1200px) {   
    .header__top{
        width: 1520px;
        grid-template-columns: 1fr 300px;
    }
    .header{
        width: 1520px;
        grid-template-columns: 1fr 300px;
    }
    .burger-menu{
        display: none;
    }

}
@media only screen and (max-width: 1000px) {   
    .header__top{
        width: 1520px;
    }
    .header{
        width: 1520px;
        gap: 20px;
    }
    .burger-menu{
        display: none;
    }
}
@media only screen and (max-width: 768px) {   
    .header__top{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;
    }
    .header{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;
    }
}
@media only screen and (max-width: 480px) {   
    .header__top{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;      
    }
    .header{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;
    }
}