.home{
    display: flex;
    flex: wrap;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
    width: 1520px;
    .categories{
        width: 1520px; /* Full width on mobile */
        height: auto; /* Adjust height as needed */
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        .cont1{
            .text{
                width: 100%; /* Full width on mobile */
                padding-left: 20px; /* Adjust padding for mobile */
                p{
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 17px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: rgba(237, 85, 59, 1);
                }
                h1{
                    font-family: Inter;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgba(57, 50, 128, 1);
                }
            }
        }
        .cont2{
            gap: 30px; /* Reduce the gap for mobile */
            padding-left: 20px; /* Adjust padding for mobile */
            display: flex;
            justify-content: center;
            .con{
                img{
                    width: 405.29px;
                    height: 240.64px;
                    top: 117.89px;
                    border-radius: 10px;
                }
                h2{
                    font-family: Inter;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: rgba(57, 50, 128, 1);
                }
            }
        }
        .btn{
            width: 197px;
            height: 61px;
            border-radius: 7px;
            color: rgba(57, 50, 128, 1);
            border: 1px solid rgba(57, 50, 128, 1);
            margin-left: 650px;
        }
        @media (max-width: 1000px) {
            width: 100%;
            width: 1440px;
        }
        @media (max-width: 768px) {
            width: 100%; /* Adjust width for smaller screens */
            max-width: 1520px; /* New max-width for responsiveness */
            .cont1 .text {
                width: 100%; /* Full width on mobile */
                padding-left: 10px; /* Adjust padding for mobile */
            }
            .cont2 {
                gap: 20px; /* Reduce the gap for mobile */
                padding-left: 10px; /* Adjust padding for mobile */
                .con img {
                    width: 100%; /* Full width for images on mobile */
                    height: auto; /* Maintain aspect ratio */
                    border-radius: 5px; /* Adjust border-radius for mobile */
                }
            }
        }
    }
    .release{
        width: 1520px;
        height: 976px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        background: rgba(252, 236, 236, 1);
        .p{
            font-family: Inter;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.12em;
            text-align: center;
            color: rgba(122, 122, 122, 1);
        }
        h1{
            font-family: Inter;
            font-size: 48px;
            font-weight: 600;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(57, 50, 128, 1);
        }
        .cards{
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 20px;
            padding-right: 20px;
            border-bottom: 2px solid rgba(224, 224, 224, 1);
        }
        .slaid{
            background: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .btn{
                color: rgba(237, 85, 59, 1);
            }
        }
        @media (max-width: 1000px) {
            width: 100%;
            max-width: 1520px;
            .cards{
                gap: 20px;
            }
        }
    }
    @media (max-width: 768px) {
        .release {
            max-width: 1520px;
            height: auto; /* Adjust height as needed */
        }
    
        .release .cards {
            justify-content: center; /* Center cards horizontally */
            padding-left: 10px; /* Adjust padding for better spacing */
            padding-right: 10px; /* Adjust padding for better spacing */
        }
    
        .release h1 {
            font-size: 36px; /* Adjust font size as needed */
            line-height: 46px; /* Adjust line height as needed */
        }
    }
    @media (max-width: 480px) {
        .release {
            max-width: 1520px;
            height: auto; /* Adjust height as needed */
        }
        .release .cards {
            display: flex;
            padding-right: 20px; /* Adjust padding for better spacing */
        }
        .release h1 {
            font-size: 36px; /* Adjust font size as needed */
            line-height: 46px; /* Adjust line height as needed */
        }
    }
    .gmail{
        width: 1520px;
        height: 499px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(252, 235, 234, 1);
        .con1{
            width: 1261px;
            height: 333px;
            background: rgba(237, 85, 59, 1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            .text{
                padding-top: 100px;
               h1{
                    font-family: Inter;
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 67px;
                    letter-spacing: 0.01em;
                    text-align: center;
                    color: rgba(255, 255, 255, 1);
                }
                p{
                    width: 789px;
                    height: 80px;
                    font-family: Inter;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 42px;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: rgba(255, 255, 255, 1);
                } 
            }
            .input{
                width: 698px;
                background: white;
                height: 103px;
                display: flex;
                padding-right: 20px;
                justify-content: space-between; 
                align-items: center;       
                .p{
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgba(87, 101, 108, 1);
                    padding-right: 150px;
                }
                button{
                    width: 206px;
                    height: 71px;
                    background: rgba(237, 85, 59, 1);
                    color: rgba(255, 255, 255, 1);
                    border: #F5FFFE;
                }
            }
        }
        @media (max-width: 1000px) {
            width: 100%;
            max-width: 1520px;
        }
    }
    @media (max-width: 768px) {
        .gmail {
            max-width: 1520px;
            height: auto; /* Adjust height as needed */
        }
    
        .gmail .con1 {
            width: 100%; /* Adjust width as needed */
            max-width: 100%; /* Adjust max-width as needed */
            height: auto; /* Adjust height as needed */
            padding: 20px; /* Add padding for better spacing */
        }
    
        .gmail .con1 .text h1 {
            font-size: 40px; /* Adjust font size as needed */
            line-height: 50px; /* Adjust line height as needed */
        }
    
        .gmail .con1 .text p {
            width: 100%; /* Adjust width as needed */
            max-width: 100%; /* Adjust max-width as needed */
            font-size: 18px; /* Adjust font size as needed */
            line-height: 28px; /* Adjust line height as needed */
        }
    
        .gmail .con1 .input .p {
            padding-right: 0; /* Remove padding-right */
        }
    }
    @media (max-width: 480px) {
        .gmail {
            max-width: 1520px;
            height: auto; /* Adjust height as needed */
            gap: 50px;
        }
        .gmail .con1 {
            width: 100%; /* Adjust width as needed */
            max-width: 100%; /* Adjust max-width as needed */
            height: auto; /* Adjust height as needed */
            padding: 20px; /* Add padding for better spacing */
        }
    
        .gmail .con1 .text h1 {
            font-size: 40px; /* Adjust font size as needed */
            line-height: 50px; /* Adjust line height as needed */
        }
        .gmail .con1 .text p {
            width: 100%; /* Adjust width as needed */
            max-width: 100%; /* Adjust max-width as needed */
            font-size: 20px; /* Adjust font size as needed */
            line-height: 34px; /* Adjust line height as needed */
        }
    }
    .articles{
        width: 1520px;
        height: 900px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(247, 252, 252, 1);
        gap: 10px;
        p{
            color: rgba(122, 122, 122, 1);
        }
        h1{
            color: rgba(23, 63, 95, 1);
        }
        .cards{
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            padding-bottom: 50px;
            gap: 80px;
            .card{
                display: flex;
                flex-direction: column;
                background: none;
                border: #F5FFFE;
                p{
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0.06em;
                    text-align: left;
                    color: rgba(116, 100, 47, 1);
                }
                h1{
                    width: 418.88px;
                    height: 83.3px;
                    font-family: Inter;
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 43px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgba(23, 63, 95, 1);
                }
                img{
                    width: 418.88px;
                    height: 314.03px;
                }
                .mesenger{
                    border-top: 2px solid rgba(223, 223, 223, 1);
                    display: flex;
                    justify-content: flex-end;
                    gap: 20px;
                    padding-top: 20px;
                    img{
                        width: 8.69px;
                        height: 12.45px;
                    }
                }
            }
        }
        button{
            width: 254.39px;
            height: 58.4px;
            border: 1px solid rgba(192, 192, 192, 1);
            color: rgba(23, 63, 95, 1);
            background: none;
        }
        @media (max-width: 1000px) {
            width: 100%;
            max-width: 1520px;
        }
    }
    @media (max-width: 768px) {
        .articles {
            max-width: 1520px;
            height: auto; /* Adjust height as needed */
            .cards{
                flex-wrap: wrap;
                .card {
                    max-width: 1200px; /* Cards take full width */
                }
            }
            button {
                max-width: 100%; /* Button takes full width */
            }
        }
    }
    @media (max-width: 480px) {
        .articles {
            max-width: 1520px;
            height: auto; /* Adjust height as needed */
            .cards{
                flex-wrap: wrap;
                .card {
                    max-width: 1200px; /* Cards take full width */
                }
            }
            button {
                max-width: 100%; /* Button takes full width */
            }
        }
    }
}