.productf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 40px;
    background: white;
    .product__left{
        width: 413px; /* Максимальная ширина */
        height: auto; /* Автоматическая высота */
        background: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%; /* Максимальная ширина изображения */
            height: auto; /* Автоматическая высота */
            top: 81px;
            left: 213px;
        }
    }
    .product__rigth{
        width: 100%; /* Занимать всю доступную ширину */
        max-width: 600px; /* Максимальная ширина */
        padding-top: 60px;
        h1{
            font-family: Inter;
            font-size: 48px;
            font-weight: 600;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(57, 50, 128, 1);
            padding-bottom: 50px;
        }
        .name{
            font-family: Inter;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.16em;
            text-align: left;
            color: rgba(136, 136, 136, 1);
            padding-bottom: 10px;
        }
        h2{
            font-family: Inter;
            font-size: 28px;
            font-weight: 600;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(57, 50, 128, 1);
        }
        .lorem{
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.02em;
            text-align: left;
            width: 486px;
            height: 66px;
            top: 355px;
            left: 772px;
            color: rgba(122, 122, 122, 1);
        }
        .price{
            font-family: Inter;
            font-size: 23px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-align: left;
            color: rgba(237, 85, 59, 1);
            padding-bottom: 50px;
        }
        .buttons{
            display: flex;
            align-items: center;
            gap: 40px;
            .delivery{
                width: 197px;
                height: 61px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                color: rgba(57, 50, 128, 1);
                border: 1px solid rgba(57, 50, 128, 1);
                background: none;
            }
            .img{
                width: 60px;
                height: 50px;
                border: none;
                background: white;
            }
        }
        
    }
}

@media only screen and (max-width: 768px) {
    .productf{
        display: flex;
        justify-content: center;
        width: 1250px;
        height: auto;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px; /* Уменьшаем отступ между элементами для мобильных устройств */
        padding: 20px; /* Уменьшаем внутренние отступы для мобильных устройств */
        background: linear-gradient(78.43deg, #FBEEEE -27.34%, #F7FFFE 89.92%);
    }
    
    .product__left {
        width: 100%; /* Занимать всю доступную ширину */
        height: auto; /* Автоматическая высота */
        background: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product__left img {
        width: 100%; /* Максимальная ширина изображения */
        height: auto; /* Автоматическая высота */
    }
    
    .product__right {
        width: 100%; /* Занимать всю доступную ширину */
        padding-top: 20px; /* Уменьшаем отступ сверху для мобильных устройств */
    }
    
    .product__right h1,
    .product__right .name,
    .product__right h2,
    .product__right .lorem,
    .product__right .price,
    .product__right button {
        width: 100%; /* Занимать всю доступную ширину */
        max-width: 100%; /* Максимальная ширина */
    }
}