@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    font-weight: 300;
    font-style: normal;
}
.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none
}
ul li{
    list-style-type: none
}

@media only screen and (max-width: 1200px) {   
    .home{
        width: 1520px;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 70px 1fr auto;
    }
    .footer{
        width: 1520px;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 70px 1fr auto;
    }
}
@media only screen and (max-width: 1000px) {   
    .home{
        width: 1380px;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 70px 1fr auto;
    }
    .footer{
        width: 1380px;
        grid-template-columns: 1fr 300px;
        grid-template-rows: 70px 1fr auto;
    }
}
@media only screen and (max-width: 768px) {   
    .home{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;
    }
    .footer{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;
    }
}
@media only screen and (max-width: 480px) {   
    .home{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;
    }
    .footer{
        width: 1520px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr auto;
    }
}

@import './about.scss';
@import './contacts.scss';
@import './home.scss';
@import './header.scss';
@import './footer.scss';
@import './cards.scss';
@import './book.scss';
@import './auth.scss';
@import './books.scss';
@import './title.scss';
@import './carousel.scss';
@import './productf.scss';
@import './favorites.scss';
@import './laik.scss';
@import './burgermenu.scss';